<div class="fondo">
   <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">La Bodega</a>
    </div>
  </nav>

   <div class="container card">
      <div class="row rowCarrito">
         <div class="col s1 m6 l6">
            <h4>Carrito de Compras</h4>
         </div>

         <div class="col s1 m6 l6">
            <h5 id="titulo">Total:</h5>
            <a [routerLink]="['/catalogo']" id='btn_cancelar' class='btn green waves-effect waves-light'>Cancelar</a>
            <a id='btn_pagar' class='btn green waves-effect waves-light'>Pagar</a>
         </div>
      </div>
   </div>
</div>
