.fondo {
  background-image: url('../../assets/img/main-fondo.jpg');
  background-size: cover;
  background-position: center;
}

.container  {
  position: center;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
}

.container .row {
  margin: 0 auto;
}

.card-image img {
    height:250px;
    width:100%;
}

p {
   font-size: 10px;
}
