<div class="fondo">
   <div class="container valign-wrapper row">
     <div class="col card hoverable s10 pull-s1 m6 pull-m3 l5 pull-l2 light-green white-text">
       <form>
         <div class="card-content">
           <span class="card-title">Bienvenido a nuestra Tienda Virtual</span> <br>
           <span class="card-title">Por Favor Inicia Sesión:</span>

           <div class="row">
             <div class="input-field col s12">
               <label for="email" class="white-text">Correo electrónico</label>
               <input type="email" class="validate" name="email" id="email" ngModel name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"/>
             </div>

             <div class="input-field col s12">
               <label for="password" class="white-text">Contraseña </label>
               <input type="password" class="validate" name="password" id="password" ngModel name="password" required/>
             </div>
           </div>
         </div>

         <div class="card-action right-align">

          <!-- <input type="submit" class="btn green waves-effect waves-light" value="Login" [routerLink]="['catalogo']"> -->

          <a id='btn_login' class='btn green waves-effect waves-light'>Login</a>

         </div>
       </form>
     </div>
   </div>
</div>
